{% extends 'base.html' %}

{% block content %}
    <h1>Our Team</h1>
    <!--Any other HTML goes here inbetween block and endblock-->
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-2">
                <h2>Check out our team!</h2>
            </div>
            <div class="col-md-10">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <img style="height:150px; width:150px;" class="img-responsive rounded" src="{{ url_for('static', filename='img/gunel_garayeva.jpg') }}" alt="Gunel Garayeva">
                            </div>
                            <div class="col-sm-6">
                                <div class="list-group">
                                    <h3 class="list-group-item">Gunel Garayeva Link Tree</h3>
                                    <a target="_blank" class="list-group-item list-group-item-action" href="https://github.com/gunelq"><i class="bi bi-github"></i> GitHub</a>
                                    <a target="_blank" class="list-group-item list-group-item-action" href="https://www.linkedin.com/in/gunel-garayeva-mba/"><i class="bi bi-linkedin"></i> LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <img style="height:150px; width:135px;" class="img-responsive rounded" src="{{ url_for('static', filename='img/Lina Blanco.jpg') }}" alt="Lina Blanco">
                            </div>
                            <div class="col-sm-6">
                                <div class="list-group">
                                    <h3 class="list-group-item">Lina Blanco Link Tree</h3>
                                    <a target="_blank" class="list-group-item list-group-item-action" href="https://github.com/violetblue7"><i class="bi bi-github"></i> GitHub</a>
                                    <a target="_blank" class="list-group-item list-group-item-action" href="https://www.linkedin.com/in/lina-b-bb9a2631/"><i class="bi bi-linkedin"></i> LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <img style="height:150px; width:150px;" class="img-responsive rounded" src="{{ url_for('static', filename='img/Fatina Hamadi.jpg') }}" alt="Fatina Hamadi">
                            </div>
                            <div class="col-sm-6">
                                <div class="list-group">
                                    <h3 class="list-group-item">Fatina Hamadi Link Tree</h3>
                                    <a target="_blank" class="list-group-item list-group-item-action" href="https://github.com/Hfati"><i class="bi bi-github"></i> GitHub</a>
                                    <a target="_blank" class="list-group-item list-group-item-action" href="https://www.linkedin.com/in/rosine-hamadi-638441192/"><i class="bi bi-linkedin"></i> LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <img style="height:150px; width:115px;" class="img-responsive rounded" src="{{ url_for('static', filename='img/20220824_123955.jpg') }}" alt="Kade Rivers">
                            </div>
                            <div class="col-sm-6">
                                <div class="list-group">
                                    <h3 class="list-group-item">Kade Rivers Link Tree</h3>
                                    <a target="_blank" class="list-group-item list-group-item-action" href="https://github.com/musicmaj"><i class="bi bi-github"></i> GitHub</a>
                                    <a target="_blank" class="list-group-item list-group-item-action" href="https://www.linkedin.com/in/kade-rivers-6554442b5/"><i class="bi bi-linkedin"></i> LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}