{% extends 'base.html' %} {% block content %}
<h1>Works Cited</h1>
<!--Any other HTML goes here inbetween block and endblock-->
<h2>Original Data Set:</h2>
<p>
  Kaggle.com
  <a
    target="_blank"
    href="https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata"
    >https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata</a
  >
</p>
<h2>Additional Data:</h2>
<p>
  Inside Airbnb
  <a
    target="_blank"
    href="https://insideairbnb.com/explore/"
    >https://insideairbnb.com/explore/</a
  >
</p>
<h2>Color Pallette:</h2>
<p>
  coolors.co
  <a target="_blank" href="https://coolors.co/ff5a5f-00a699-fc642d-484848-767676"
    >https://coolors.co/ff5a5f-00a699-fc642d-484848-767676</a
  >
</p>
<h2>Slide Templates:</h2>
<p>
  slidespower
  <a target="_blank" href="https://www.slidesacademy.com/en/download-787-new-york-free-powerpoint-template-google-slides"
    >https://www.slidesacademy.com/en/download-787-new-york-free-powerpoint-template-google-slides</a
  >
</p>
<p></p>
  slidechef
  <a target="_blank" href="https://slidechef.net/templates/free-airbnb-pitch-deck-template/"
    >https://slidechef.net/templates/free-airbnb-pitch-deck-template/</a
  >
</p>
<h2>Site Color Theme:</h2>
<p>
  bootswatch.com
  <a target="_blank" href="https://bootswatch.com/solar/"
    >https://bootswatch.com/solar/</a
  >
</p>

{% endblock %}
